<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>java_jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- 모든 서블릿(JSP)이 공유하는 초기 파라메터 -->
  <context-param>
  	<param-name>uploadPath</param-name>
  	<param-value>C:/Users/ule19/OneDrive/Main/coding</param-value>
  </context-param>
  
  <!-- jsp에서 발생하는 예외 처리 페이지 설정 
  
    <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/error/error.jsp</location>
  </error-page>
  
  -->

  <!-- 오류코드별 오류 처리 페이지 설정
    <error-page>
  	<error-code>400</error-code>
  	<location>/error/error_400.jsp</location>
  </error-page>
  
   <error-page>
  	<error-code>404</error-code>
  	<location>/error/error_404.jsp</location>
  </error-page>
  
   <error-page>
  	<error-code>500</error-code>
  	<location>/error/error_500.jsp</location>
  </error-page>
 
   -->

  
  <!-- jsp등록 -->
  <servlet>
  	<servlet-name>configEx.jsp</servlet-name>
  	<jsp-file>/configEx.jsp</jsp-file>
  	<init-param>
  		<param-name>message</param-name>
  		<param-value>코코 바보</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>configEx.jsp</servlet-name>
  	<url-pattern>/config</url-pattern>
  </servlet-mapping>
  
</web-app>